* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 252, 223);
  font-family: "Merriweather.zip";
  margin: Opx;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body-inicio {
  background-color: rgb(255, 252, 223);
  font-family: "Merriweather.zip";
  margin: O;
  position: relative;
  padding-bottom: 5em;
}

header {
  display: flex;
  min-height: 120px;
  background: linear-gradient(to left, rgb(150, 4, 150), black);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo img {
  height: 100px;
  width: 100px;
  margin-right: 6px;
  padding: 5px;
  border-radius: 100px;
  border: 3px white solid;
}
header .logo .nombre-empresa {
  color: rgb(255, 255, 255);
  padding-left: 200px;
  font-style: italic;
  font-size: 40px;
}
header nav a {
  display: inline-block;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
}
header nav a:hover {
  color: rgb(234, 190, 63);
}
header a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(254, 250, 255);
}

.fiesta-img {
  background-color: rgb(227, 134, 255);
  border: solid 2px rgb(234, 190, 63);
  display: flex;
  text-align: center;
}
.fiesta-img img {
  width: 300px;
  height: 250px;
  margin-left: 8px;
}
.fiesta-img .subt {
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: end;
  font-family: "Merriweather-bold" serif;
  font-weight: 200px;
  padding: 10px;
  margin-right: 350px;
}
.fiesta-img .creamos {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  line-height: 1.2 rem;
  padding: 20px;
  font-family: "Merriweather-black", serif;
}

.linea_1 {
  color: black;
  background-color: rgb(227, 134, 255);
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.deco1 h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  font-weight: 700;
  padding: 20px;
}

.sub-container {
  margin-left: 130px;
}

.container {
  height: 70vh;
  display: flex;
  gap: 3em;
  padding: 0 100px;
}
.container .div1, .container .div2, .container .div3 {
  width: 21rem;
  height: 25rem;
  background-color: rgb(227, 134, 255);
  box-shadow: 5px 5px 25px rgb(48, 47, 47);
  padding: 10px 30px;
  border-radius: 10px;
}
.container .di1, .container .di2, .container .di3 {
  width: 21rem;
  height: 25rem;
  background-color: rgb(227, 134, 255);
  box-shadow: 5px 5px 25px rgb(67, 66, 66);
  padding: 10px 30px;
  border-radius: 10px;
}
.container h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
}
.container p {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 20px;
  font-family: "Merriweather", serif;
  font-weight: 400;
}

/*page1-page2*/
.button, .grid-containers {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 400px);
  row-gap: 70px;
  column-gap: 10px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.button_im, .button_m, .grid-containers .regalos, .button_v, .grid-containers img {
  width: 80%;
  height: 80%;
  padding: 5px;
}

.button_v, .grid-containers img {
  border: 3px rgb(227, 134, 255) solid;
}

.button_m, .grid-containers .regalos {
  border: 3px rgb(150, 4, 150) solid;
}

/*ayuda-page4*/
.button_ayuda, .pedidos, .pagos {
  width: 150px;
  height: 150px;
  margin-left: 200px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px black solid;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
}

.linea {
  color: rgb(150, 4, 150);
  background-color: rgb(227, 134, 255);
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.grid-containers .grid-items {
  font-size: 21px;
  padding: 20px;
  text-align: center;
  transition: all 1s;
}
.grid-containers .grid-items:hover {
  transform: scale(1.2, 1.2);
}
.grid-containers .uno {
  grid-column: 1/1;
  grid-row: 1/1;
}
.grid-containers .dos {
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-containers .tres {
  grid-column: 3/3;
  grid-row: 1/1;
}
.grid-containers .cuatro {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-containers .cinco {
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-containers .seis {
  grid-column: 3/3;
  grid-row: 2/2;
}
.grid-containers .siete {
  grid-column: 1/1;
  grid-row: 3/3;
}
.grid-containers .ocho {
  grid-column: 2/2;
  grid-row: 3/3;
}
.grid-containers .nueve {
  grid-column: 3/3;
  grid-row: 3/3;
}
.grid-containers .dies {
  grid-column: 1/1;
  grid-row: 4/4;
}
.grid-containers .once {
  grid-column: 2/2;
  grid-row: 4/4;
}
.grid-containers .doce {
  grid-column: 3/3;
  grid-row: 4/4;
}

.whatsapp {
  font-size: 40px;
  padding-top: 15px;
}

.whatsapp:hover {
  color: rgb(150, 4, 150);
}

.saber {
  color: black;
  background-color: rgb(227, 134, 255);
  font-size: 20px;
  font-style: italic;
}

.saber:hover {
  color: black;
}

.servicios {
  animation-name: animation2;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  color: rgb(150, 4, 150);
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
  margin-top: 40px;
}

.page {
  color: black;
  background-color: rgb(255, 252, 223);
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  padding: 10px;
}

.grid-containers .grid-items {
  font-size: 21px;
  padding: 20px;
  text-align: center;
  transition: all 1s;
}
.grid-containers .grid-items:hover {
  transform: scale(1.2, 1.2);
}
.grid-containers .uno_1 {
  grid-column: 1/1;
  grid-row: 1/1;
}
.grid-containers .dos_2 {
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-containers .tres_3 {
  grid-column: 3/3;
  grid-row: 1/1;
}
.grid-containers .cuatro_4 {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-containers .cinco_5 {
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-containers .seis_6 {
  grid-column: 3/3;
  grid-row: 2/2;
}
.grid-containers .siete_7 {
  grid-column: 1/1;
  grid-row: 3/3;
}
.grid-containers .ocho_8 {
  grid-column: 2/2;
  grid-row: 3/3;
}
.grid-containers .nueve_9 {
  grid-column: 3/3;
  grid-row: 3/3;
}
.grid-containers .diez_10 {
  grid-column: 1/1; /*Dia de las madres*/
  grid-row: 1/1;
}
.grid-containers .once_11 {
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-containers .doce_12 {
  grid-column: 3/3;
  grid-row: 1/1;
}
.grid-containers .trece_13 {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-containers .catorce {
  grid-column: 1/1; /*padre*/
  grid-row: 1/1;
}
.grid-containers .quince {
  grid-column: 2/2;
  grid-row: 1/1;
}
.grid-containers .dieciseis {
  grid-column: 3/3;
  grid-row: 1/1;
}
.grid-containers .diecisiete {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-containers .dieciocho {
  grid-column: 2/2;
  grid-row: 2/2;
}
.grid-containers .diecinueve {
  grid-column: 3/3;
  grid-row: 2/2;
}

.whatsapp {
  font-size: 40px;
  padding-top: 15px;
}

.whatsapp:hover {
  color: rgb(150, 4, 150);
}

.saberr {
  color: rgb(150, 4, 150);
  background-color: rgb(227, 134, 255);
  font-size: 20px;
  font-style: italic;
}

.nacio {
  color: rgb(0, 0, 0);
  font-size: 30px; /*tamano de la letra*/
  text-align: left; /*Para colocar los elementos en el centro*/
  font-family: "Merriweather-bold" serif;
  font-style: normal;
  font-weight: 700; /*Letra negrita*/
  padding: 20px; /*Separa el subtitulo de la parte de arriba*/
  margin-left: 200px;
}

.nosotrosdecodulces {
  display: flex;
  text-align: center;
}
.nosotrosdecodulces p {
  text-align: left;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 15px 80px 0px 80px;
  margin: 20px 70px 0px 70px;
  font-family: "Merriweather-black", serif;
  font-style: italic;
  background-color: rgb(227, 134, 255);
}
.nosotrosdecodulces .imgregalos {
  width: 400px;
  height: 350px;
  padding: 10px;
  border: 2px rgb(234, 190, 63) solid;
  margin: 60px 150px 0px 0px;
}

.imgdeco {
  width: 350px;
  height: 350px;
  padding: 10px;
  border: 2px rgb(234, 190, 63) solid;
  margin: 15px 10px 20px 150px;
}

.caracas {
  width: 200px;
  height: 150px;
  margin-left: 500px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px black solid;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;
  padding: 40px;
}

.form-content {
  background: rgb(227, 134, 255);
  margin: 30px;
  border-radius: 20px;
  width: 500px;
  padding: 10px;
}

.form-content h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
  width: 100%;
}

.opinion {
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

label {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

input, textarea {
  padding: 17px 14px;
  background-color: rgb(255, 252, 223);
  border: 0px;
  font-size: 15px;
  color: black;
  margin: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.cont {
  background-color: rgb(234, 190, 63);
  width: 150px;
  align-self: flex-end;
  cursor: pointer;
}

.cont:hover {
  background-color: rgb(150, 4, 150);
}

footer {
  background-color: bisque;
  text-align: center;
  padding: 20px;
  left: 0px;
  margin-top: auto;
  background: linear-gradient(to left, rgb(150, 4, 150), black);
  font-size: 20px;
}

.footer-inicio {
  display: inline-block;
  justify-content: center;
  gap: 25px;
  width: 100%;
  background: linear-gradient(to left, rgb(150, 4, 150), black);
  background-color: bisque;
  text-align: center;
  padding: 10px;
  left: 0px;
  position: absolute;
  bottom: 0;
}

.footer-inicio a {
  font-size: 20px;
  transition: all ease 300ms;
}

.instagram {
  color: rgb(252, 36, 72);
  margin: 70px;
  text-decoration: none;
}

.facebook {
  color: rgb(33, 33, 255);
  margin: 70px;
  text-decoration: none;
}

.whatsapp {
  font-size: 20px;
  color: rgb(31, 233, 31);
  margin: 70px;
  text-decoration: none;
}

.correo {
  color: rgb(12, 255, 141);
  margin: 70px;
  text-decoration: none;
}

.footer-inicio a:hover {
  transform: scale(1.2);
}

.phono {
  font-size: 20px;
  color: white;
  font-style: italic;
  margin: 5px;
}

/*jquery*/
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    flex-direction: column;
  }
  header .logo {
    margin-right: 180px;
  }
  header .logo img {
    width: 15%;
    height: 15%;
    margin-left: 100px;
    right: 10px;
  }
  header .logo .nombre-empresa {
    font-size: 35px;
    text-align: center;
    padding-left: 110px;
  }
  header nav {
    margin: 10px;
    padding: 5px;
  }
  header a {
    font-size: 20px;
  }
  .header-inicio {
    width: 100%;
  }
  .body-inicio {
    width: 100%;
    left: 0px;
    margin: O;
    position: relative;
    padding-bottom: 2.5em;
    background-color: rgb(255, 237, 237);
  }
  .fiesta-img {
    height: 100%;
  }
  .fiesta-img img {
    width: 40%;
    height: 10%;
    margin-top: 0px;
  }
  .fiesta-img .subt {
    text-align: center;
    padding: auto;
    margin-right: 0px;
  }
  .fiesta-img .creamos {
    font-size: 1.2rem;
    margin-right: 55px;
  }
  .container {
    height: 80px;
    flex-direction: column;
    margin-bottom: 760px;
    margin-left: 100px;
    margin-top: 10px;
    padding-bottom: 100px;
  }
  .container .div1 .div2 .div3 .di1 .di2 .di3 {
    max-width: 80%;
    padding: 50px 30px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .container p {
    font-size: 1rem;
  }
  .linea {
    margin-left: 5px;
    margin: 5px;
  }
  .deco1 h2 {
    margin-top: 10px;
  }
  .grid-containers {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /*page2*/
  }
  .grid-containers .grid-items img {
    width: 80%;
    height: 80%;
  }
  .grid-containers .uno {
    grid-column: 1/1;
    grid-row: 1/1;
    grid-row: 20px;
  }
  .grid-containers .dos {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .grid-containers .tres {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .grid-containers .cuatro {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .grid-containers .cinco {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .grid-containers .seis {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  .grid-containers .siete {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .grid-containers .ocho {
    grid-column: 2/2;
    grid-row: 4/4;
  }
  .grid-containers .nueve {
    grid-column: 1/1;
    grid-row: 5/5;
  }
  .grid-containers .dies {
    grid-column: 2/2;
    grid-row: 5/5;
  }
  .grid-containers .once {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  .grid-containers .doce {
    grid-column: 2/2;
    grid-row: 6/6;
  }
  .grid-containers .saberr {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .grid-containers .uno_1 {
    grid-column: 1/1;
    grid-row: 7/7;
  }
  .grid-containers .dos_2 {
    grid-column: 2/2;
    grid-row: 7/7;
  }
  .grid-containers .tres_3 {
    grid-column: 1/1;
    grid-row: 8/8;
  }
  .grid-containers .cuatro_4 {
    grid-column: 2/2;
    grid-row: 8/8;
  }
  .grid-containers .cinco_5 {
    grid-column: 1/1;
    grid-row: 9/9;
  }
  .grid-containers .seis_6 {
    grid-column: 2/2;
    grid-row: 9/9;
  }
  .grid-containers .siete_7 {
    grid-column: 1/1;
    grid-row: 10/10;
  }
  .grid-containers .ocho_8 {
    grid-column: 2/2;
    grid-row: 10/10;
  }
  .grid-containers .nueve_9 {
    grid-column: 1/1;
    grid-row: 11/11;
  }
  .grid-containers .diez_10 {
    grid-column: 2/2;
    grid-row: 11/11;
  }
  .grid-containers .once_11 {
    grid-column: 1/1;
    grid-row: 12/12;
  }
  .grid-containers .doce_12 {
    grid-column: 2/2;
    grid-row: 12/12;
  }
  .grid-containers .catorce {
    grid-column: 1/1;
    grid-row: 13/13;
  }
  .grid-containers .quince {
    grid-column: 2/2;
    grid-row: 13/13;
  }
  .grid-containers .dieciseis {
    grid-column: 1/1;
    grid-row: 14/14;
  }
  .grid-containers .dicisiete {
    grid-column: 2/2;
    grid-row: 14/14;
  }
  .grid-containers .diciocho {
    grid-column: 1/1;
    grid-row: 15/15;
  }
  .grid-containers .diecinueve {
    grid-column: 2/2;
    grid-row: 15/15;
  }
  .grid-containers .veinticinco {
    grid-column: 1/1;
    grid-row: 16/16;
  }
  .grid-containers .veintiseis {
    grid-column: 2/2;
    grid-row: 16/16;
  }
  .grid-containers .veintisiete {
    grid-column: 1/1;
    grid-row: 17/17;
  }
  .grid-containers .veintiocho {
    grid-column: 2/2;
    grid-row: 17/17;
  }
  .grid-containers .veintinueve {
    grid-column: 1/1;
    grid-row: 18/18;
  }
  .grid-containers .treinta {
    grid-column: 2/2;
    grid-row: 18/18;
  }
  .grid-containers .treintiuno {
    grid-column: 1/1;
    grid-row: 19/19;
  }
  .grid-containers .treintidos {
    grid-column: 2/2;
    grid-row: 19/19;
  }
  .grid-containers .treintitres {
    grid-column: 1/1;
    grid-row: 20/20;
  }
  .grid-containers .treinticuatro {
    grid-column: 2/2;
    grid-row: 20/20;
  }
  .grid-containers .treinticinco {
    grid-column: 1/1;
    grid-row: 21/21;
  }
  .servicios {
    margin-left: 0px;
  }
  h4 {
    margin-left: 180px;
    text-align: center;
  }
  .nacio {
    margin-left: 200px;
  }
  .nosotrosdecodulces {
    height: 70%;
    width: 100%;
    display: inline-block;
  }
  .nosotrosdecodulces .detalles {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5rem;
    padding: 10px 50px 10px 50px;
    margin: 5px;
    border: 0px;
  }
  .nosotrosdecodulces .imgregalos {
    width: 70%;
    margin-left: 140px;
  }
  .imgdeco {
    margin-left: 250px;
  }
  .pagos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 110px;
  }
  .pedidos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 110px;
  }
  .caracas {
    height: 120px;
    width: 200px;
    margin-left: 330px;
  }
  footer {
    display: inline-block;
  }
  footer .instagram {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 330px;
  }
  footer .facebook {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 330px;
  }
  footer .whatsapp {
    display: flex;
    font-size: 20px;
    padding: 2px;
    margin: 0px;
    margin-left: 330px;
  }
  footer .correo {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 330px;
  }
  footer .phono {
    font-size: 15px;
    padding: 2px;
    margin: 0px;
    margin-left: 40px;
  }
  .footer-inicio {
    display: block;
    width: 168%;
    position: relative;
    left: -200px;
    font-size: 10px;
  }
  .footer-inicio .instagram {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 300px;
  }
  .footer-inicio .facebook {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 300px;
  }
  .footer-inicio .whatsapp {
    display: flex;
    font-size: 20px;
    padding: 2px;
    margin: 0px;
    margin-left: 300px;
  }
  .footer-inicio .correo {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 300px;
  }
  .footer-inicio .phono {
    font-size: 15px;
    padding: 2px;
    margin: 0px;
    margin-left: 20px;
    border: 0px 20px 0 20px;
  }
}
@media screen and (max-width: 480px) {
  header .logo {
    padding-top: 15px;
  }
  header .logo img {
    height: 70px;
    width: 70px;
    margin-left: 100px;
    right: 10px;
  }
  header .logo .nombre-empresa {
    padding-left: 30px;
    font-size: 30px;
    padding-top: 20px;
  }
  header nav {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  header a {
    font-size: 14px;
  }
  .header-inicio {
    width: 100%;
  }
  .body-inicio {
    width: 100%;
    left: 0px;
    margin: O;
    position: relative;
    padding-bottom: 2.5em;
    background-color: rgb(255, 237, 237);
  }
  .body {
    min-height: 50vh;
  }
  .body-inicio {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 1.5em;
  }
  .fiesta-img {
    height: 70%;
    width: 90%;
    display: inline-block;
    margin-left: 25px;
  }
  .fiesta-img .fiesta-img img {
    width: 100%;
    height: 10%;
    margin: 10px 0px 0px 0px;
  }
  .fiesta-img .subt {
    font-size: 1.5rem;
    text-align: center;
    margin: 0px;
  }
  .fiesta-img .creamos {
    text-align: start;
    font-size: 1.2rem;
    margin: 0px;
    line-height: 2rem;
  }
  .linea_1 {
    width: 98%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.1rem;
    font-size: 1.2rem;
  }
  .deco1 h2 {
    margin-left: 40px;
  }
  .container {
    height: 70px;
    flex-direction: column;
    margin-bottom: 900px;
    padding-left: 0px;
    margin-left: 130px;
    align-items: center;
  }
  .container .div1 .div2 .div3 .di1 .di2 .di3 {
    max-width: 40%;
    padding: 25px 15px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .container .div1 .div2 .div3 .di1 .di2 .di3 p {
    font-size: 1rem;
  }
  /*page1*/
  .linea {
    margin-left: 5px;
    margin: 5px;
  }
  h2 {
    margin: 5px;
    padding: 5px;
    border: 0;
  }
  .grid-containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    /*page2*/
  }
  .grid-containers .grid-items img {
    width: 70%;
    height: 70%;
    margin-top: 10px;
  }
  .grid-containers .saber {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .grid-containers .uno {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .grid-containers .dos {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .grid-containers .tres {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .grid-containers .cuatro {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .grid-containers .cinco {
    grid-column: 1/1;
    grid-row: 5/5;
  }
  .grid-containers .seis {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  .grid-containers .siete {
    grid-column: 1/1;
    grid-row: 7/7;
  }
  .grid-containers .ocho {
    grid-column: 1/1;
    grid-row: 8/8;
  }
  .grid-containers .nueve {
    grid-column: 1/1;
    grid-row: 9/9;
  }
  .grid-containers .diez {
    grid-column: 1/1;
    grid-row: 10/10;
  }
  .grid-containers .once {
    grid-column: 1/1;
    grid-row: 11/11;
  }
  .grid-containers .doce {
    grid-column: 1/1;
    grid-row: 12/12;
  }
  .grid-containers .saberr {
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .grid-containers .uno_1 {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .grid-containers .dos_2 {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  .grid-containers .tres_3 {
    grid-column: 1/1;
    grid-row: 3/3;
  }
  .grid-containers .cuatro_4 {
    grid-column: 1/1;
    grid-row: 4/4;
  }
  .grid-containers .cinco_5 {
    grid-column: 1/1;
    grid-row: 5/5;
  }
  .grid-containers .seis_6 {
    grid-column: 1/1;
    grid-row: 6/6;
  }
  .grid-containers .siete_7 {
    grid-column: 1/1;
    grid-row: 7/7;
  }
  .grid-containers .ocho_8 {
    grid-column: 1/1;
    grid-row: 8/8;
  }
  .grid-containers .nueve_9 {
    grid-column: 1/1;
    grid-row: 9/9;
  }
  .grid-containers .diez_10 {
    grid-column: 1/1;
    grid-row: 10/10;
  }
  .grid-containers .once_11 {
    grid-column: 1/1;
    grid-row: 11/11;
  }
  .grid-containers .doce_12 {
    grid-column: 1/1;
    grid-row: 12/12;
  }
  .grid-containers .catorce {
    grid-column: 1/1;
    grid-row: 13/13;
  }
  .grid-containers .quince {
    grid-column: 1/1;
    grid-row: 14/14;
  }
  .grid-containers .dieciseis {
    grid-column: 1/1;
    grid-row: 15/15;
  }
  .grid-containers .dicisiete {
    grid-column: 1/1;
    grid-row: 16/16;
  }
  .grid-containers .diciocho {
    grid-column: 1/1;
    grid-row: 17/17;
  }
  .grid-containers .diecinueve {
    grid-column: 1/1;
    grid-row: 18/18;
  }
  .grid-containers .veinticinco {
    grid-column: 1/1;
    grid-row: 19/19;
  }
  .grid-containers .veintiseis {
    grid-column: 1/1;
    grid-row: 20/20;
  }
  .grid-containers .veintisiete {
    grid-column: 1/1;
    grid-row: 21/21;
  }
  .grid-containers .veintiocho {
    grid-column: 1/1;
    grid-row: 22/22;
  }
  .grid-containers .veintinueve {
    grid-column: 1/1;
    grid-row: 23/23;
  }
  .grid-containers .treinta {
    grid-column: 1/1;
    grid-row: 24/24;
  }
  .grid-containers .treintiuno {
    grid-column: 1/1;
    grid-row: 25/25;
  }
  .grid-containers .treintidos {
    grid-column: 1/1;
    grid-row: 26/26;
  }
  .grid-containers .treintitres {
    grid-column: 1/1;
    grid-row: 27/27;
  }
  .grid-containers .treinticuatro {
    grid-column: 1/1;
    grid-row: 28/28;
  }
  .grid-containers .treinticinco {
    grid-column: 1/1;
    grid-row: 29/29;
  }
  .servicios {
    margin-left: 0px;
  }
  /*page3*/
  .nacio {
    margin-left: 30px;
  }
  .nosotrosdecodulces {
    height: 70%;
    width: 100%;
    display: inline-block;
  }
  .nosotrosdecodulces .detalles {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5rem;
    padding: 10px 50px 10px 50px;
    margin: 5px;
    border: 0px;
  }
  .nosotrosdecodulces .imgregalos {
    width: 70%;
    margin-left: 65px;
  }
  .imgdeco {
    margin-left: 60px;
  }
  .pagos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 100px;
  }
  .pedidos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 100px;
  }
  .caracas {
    height: 100px;
    width: 100px;
    margin-left: 200px;
  }
  /*page2*/
  h4 {
    margin-left: 190px;
    text-align: center;
  }
  footer {
    display: inline-block;
  }
  footer .instagram {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  footer .facebook {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  footer .whatsapp {
    display: flex;
    font-size: 20px;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  footer .correo {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  footer .phono {
    font-size: 15px;
    padding: 2px;
    margin: 0px;
    margin-left: 40px;
  }
  .pagos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 50px;
  }
  .pedidos {
    display: inline;
    height: 100px;
    width: 100px;
    margin-left: 50px;
  }
  .caracas {
    height: 100px;
    width: 100px;
    margin-left: 200px;
  }
  .footer-inicio {
    width: 100%;
    display: inline-block;
    position: relative;
    margin-right: 0px;
    padding-right: 250px;
    left: 5px;
    font-size: 10px;
    text-align: center;
  }
  .footer-inicio .instagram {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  .footer-inicio .facebook {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  .footer-inicio .whatsapp {
    display: flex;
    font-size: 20px;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  .footer-inicio .correo {
    display: flex;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
  }
  .footer-inicio .phono {
    display: flex;
    font-size: 15px;
    padding: 2px;
    margin: 0px;
    margin-left: 160px;
    border: 0px 20px 0 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
