footer{
    
    background: url(../img/fondo.jpeg);
    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px;  
    margin-top: auto;
}

.footer-inicio{
    width: 100%;
    background: url(../img/fondo.jpeg);
    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px; 
    position: absolute; 
    bottom: 0; 
    
}