@import "var.scss";
@import "body.scss";
@import "header.scss";
@import "main.scss";
@import "./pages.scss/page1_2dr";
@import "./pages.scss/page3_n";
@import "./pages.scss/page4_a";
@import "footer.scss";


@media screen and (max-width:768px) {

    .body-inicio{
        width: 100%;
        left: 0px;
        margin: O;
        position: relative; 
        padding-bottom: 2.5em;
        background-color: rgb(255, 237, 237);
    
    }

    header{
       flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    .nombre-empresa{
        text-align: center;
        padding-left: 110px;
    }
    .logo{
        margin-right: 180px;
    }
    .subt{
      text-align: center;
      padding: auto;
      margin-right: 0px;
    }
    .creamos{
        font-size: 1.2rem;
        margin-right: 55px;

    }
    .fiesta-img img{
            width: 40%; 
            height: 10%;
            margin-top: 0px;

    }
    .fiesta-img{
        height:100%;

    }


    .container{
        height: 70px;
        flex-direction: column;
        margin-bottom: 740px;
        margin-left: 100px;
        }

        .div1 .div2 .div3 .di1 .di2 .di3 {
            max-width: 80%;
            padding: 50px 30px;
            margin-top: 100px;
            margin-bottom: 100px;
        
        }

        p{
            font-size: 1rem;
        }

        .servicios{
            margin-left: 0px;
        }

    .grid-containers{

         display: grid; 
         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
         grid-template-columns: 1fr 1fr; 
        
         }
            .uno{
                grid-column: 1 / 1;
                grid-row: 1 / 1;
            }
            
            .dos{
                grid-column: 2 / 2;
                grid-row: 1 / 1;
                
            }
            
            .tres{
                grid-column: 1 / 1;
                grid-row: 2 / 2;
                
            }
            
            .cuatro{
                grid-column: 2 / 2;
                grid-row: 2 / 2;
                
            }
            
            .cinco{
                grid-column: 1 / 1 ;
                grid-row: 3 / 3;
            }
            
            .seis{
                grid-column: 2 / 2;
                grid-row: 3 / 3;
            }
            
            .siete{
                grid-column: 1 / 1;
                grid-row: 4 / 4;
            
            }
            
            .ocho{
             grid-column: 2 / 2;
             grid-row: 4 / 4;
            
            }
            
            .nueve{
            grid-column: 1 / 1;
            grid-row: 5 / 5;
            }
            
            .dies{
                grid-column: 2 / 2;
                grid-row: 5 / 5;
            }
            
            .once{
                grid-column: 1 / 1;
                grid-row: 6 / 6;
            }
            
            .doce{
                grid-column: 2 / 2;
                grid-row: 6 / 6;
            }
            

        h4{
            margin-left: 180px;
            text-align: center;
            }

        .footer-inicio{
            height: 100%;
            width: 110%;
            position: relative;
            padding-right: 20px;
            left: -199px;
            padding-right: 232px;
            
        }
        
 }
 @media screen and (max-width:480px) {


    .body{
        min-height: 50vh;
    }
    .body-inicio{
        display: flex;
        width: 70%;
        height: 60%;
        position: relative;
        padding-bottom: 1.5em;
       
    
    }

    header{
        flex-direction: column;
        padding-left: 6px;
        margin-right: 0px;
    }

    .header-inicio{

        margin-right: -145px;
    }
    
    nav a{
        display: inline-block;
        padding: 10px; 
        border: rgb(19, 0, 4) 1px solid; 
        margin: 5px;

    }

    .nombre-empresa{
        font-size: 1rem;
        padding: 0px;
        margin-left: 100px;
    }
     

    .logo img{
        height: 35px; 
        margin-right: 5px; 
        padding: 2px; 
    }


    .subt{
        font-size: 1.5rem;
        text-align: center;
        margin: 0px;
    }

    .creamos{
        text-align: start;
        font-size: 1rem;
        margin:0px;
    
    }
    .fiesta-img{
          height: 40%;
          display: inline-block;
          margin-left: 145px;
          }

    .fiesta-img img{
        width: 90%; 
        height: 10%;
        margin: 10px 0px 0px 0px;
        }
    

    .sub-container{
        margin-left: 130px;
        }

    .container{
            height: 70px;
            flex-direction: column;
            margin-bottom: 740px;
            padding-left: 0px;
            margin-left: 222px;
            align-items: center;
            }
    
            .div1 .div2 .div3 .di1 .di2 .di3{
                max-width: 40%;
                padding: 25px 15px;
                margin-top: 50px;
                margin-bottom: 50px;

            
            }
    
            p{
                font-size: 1rem;
            }

    .servicios{
        margin-left: 0px;
    }
    
    .grid-containers{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
             
         }

    .grid-items img{
        width: 100%;
        height: 100%;
            }

    .uno{
         grid-column: 1 / 1;
         grid-row: 1 / 1;
            }
                
    .dos{
        grid-column: 1 / 1;
        grid-row: 2 / 2;        
        }
                
    .tres{
        grid-column: 1 / 1;
        grid-row: 3 / 3;            
        }
                
    .cuatro{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
                    
        }
                
    .cinco{
         grid-column: 1 / 1 ;
         grid-row: 5 / 5;
        }
                
    .seis{
         grid-column: 1 / 1;
         grid-row: 6 / 6;
            }
                
    .siete{
        grid-column: 1 / 1;
        grid-row: 7 / 7;
                
            }
                
    .ocho{
        grid-column: 1 / 1;
        grid-row: 8 / 8;
        }
                
    .nueve{
         grid-column: 1 / 1;
         grid-row: 9 / 9;
         }
                
    .diez{
        grid-column: 1 / 1;
        grid-row: 10 / 10;
        }
                
    .once{
        grid-column: 1 / 1;
        grid-row: 11 / 11;
            }
                
    .doce{
        grid-column: 1 / 1;
        grid-row: 12 / 12;
        }
                
    
    h4{
         margin-left: 190px;
         text-align: center;
       }
    
    .footer-inicio{
        margin-right: -320px;
        height: 80%;
        width: 120%;
        position: relative;
        padding-right: 500px;
        left: -199px;
    
            
     }
}