.servicios{
    color: rgb(0, 0, 0);
    font-size: 30px;/*tamano de la letra*/
    text-align: center; /*Para colocar los elementos en el centro*/
    font-family: "Merriweather-bold" serif;
    font-style: normal;
    font-weight: 700;/*Letra negrita*/
    padding: 10px; /*Separa el subtitulo de la parte de arriba*/
    margin-top: 40px;
}
