
h2{ 
    color: rgb(0, 0, 0);
    font-size: 30px;/*tamano de la letra*/
    text-align: center; /*Para colocar los elementos en el centro*/
    font-family: "Merriweather-bold" serif;
    font-style: normal;
    font-weight: 700;/*Letra negrita*/
    padding: 10px; /*Separa el subtitulo de la parte de arriba*/
}

.grid-containers{
 @extend .button;

    .grid-items{
        font-size: 21px; /*Tamaño de las palabras*/
        padding: 20px;
        text-align: center; /*Centrar el subtitulo*/
        transition: all 1s;
    
    }
    .grid-items:hover{
        transform: scale(1.2, 1.2);
    }
    
    img{
       @extend .button_v;

    }
    
    .uno{
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .dos{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        
    }
    
    .tres{
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        
    }
    
    .cuatro{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        
    }
    
    .cinco{
        grid-column: 2 / 2 ;
        grid-row: 2 / 2;
    }
    
    .seis{
        grid-column: 3 /3;
        grid-row: 2 / 2;
    }
    
    .siete{
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    
    }
    
    .ocho{
     grid-column: 2 / 2;
     grid-row: 3 / 3;
    
    }
    .nueve{
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    }
    
    .dies{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .once{
        grid-column: 2 / 2;
        grid-row: 4 / 4;
    }
    
    .doce{
        grid-column: 3 / 3;
        grid-row: 4 / 4;
    }
}
.servicios{
    animation-name: animation2; 
    animation-iteration-count: infinite;
    animation-duration: 3s;
    color: rgb(0, 0, 0);
    font-size: 30px;/*tamano de la letra*/
    text-align: center; /*Para colocar los elementos en el centro*/
    font-family: "Merriweather-bold" serif;
    font-style: normal;
    font-weight: 700;/*Letra negrita*/
    padding: 10px; /*Separa el subtitulo de la parte de arriba*/
    margin-top: 40px;
    
}
