
h2{ 
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center; 
    font-family: "Merriweather-bold" serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px; 
}
.linea{
    color: $oscuro;
    background-color: $violet;
    font-size: 20px;
    font-style: italic;
    text-align: center;

}

.grid-containers{
 @extend .button;

    .grid-items{
    
        font-size: 21px; 
        padding: 20px;
        text-align: center; 
        transition: all 1s;
    
    }
    .grid-items:hover{
        transform: scale(1.2, 1.2);
    }
    
    
    img{
       @extend .button_v;

    }
    
    .uno{
        grid-column: 1 / 1;
        grid-row: 1 / 1;

    }
    
    .dos{
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        
    }
    
    .tres{
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        
    }
    
    .cuatro{
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        
    }
    
    .cinco{
        grid-column: 2 / 2 ;
        grid-row: 2 / 2;
    }
    
    .seis{
        grid-column: 3 /3;
        grid-row: 2 / 2;
    }
    
    .siete{
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    
    }
    
    .ocho{
     grid-column: 2 / 2;
     grid-row: 3 / 3;
    
    }
    .nueve{
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    }
    
    .dies{
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .once{
        grid-column: 2 / 2;
        grid-row: 4 / 4;
    }
    
    .doce{
        grid-column: 3 / 3;
        grid-row: 4 / 4;
    }
}

.whatsapp{
    font-size: 40px;
    padding-top: 15px;
 
}
.whatsapp:hover{
    color: $oscuro;
}

.saber{
    color: black;
    background-color: $violet;
    font-size: 20px;
    font-style: italic;
}
.saber:hover{
    color: black;
}

.servicios{
    animation-name: animation2; 
    animation-iteration-count: infinite;
    animation-duration: 3s;
    color: $oscuro;
    font-size: 30px;
    text-align: center; 
    font-family: "Merriweather-bold" serif;
    font-style: normal;
    font-weight: 700;
    padding: 10px;
    margin-top: 40px;
    
}

.page{
    color: black;
    background-color: $fondob;
}