footer{

    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px;  
    margin-top: auto;
    background: linear-gradient(to left, $oscuro, black);
    font-size: 40px;

    h4{
        color: white;
        font-size: 20px;
        font-style: italic;
    }
}

.footer-inicio{
    display: inline-block;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background: linear-gradient(to left, $oscuro, black);
    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px; 
    position: absolute; 
    bottom: 0; 

  
    h4{
        color: white;

    }
    
}

.footer-inicio a{
    font-size: 30px;
    transition: all ease 300ms;

}

.instagram{
    color: rgb(252, 36, 72);
    margin: 70px;
    text-decoration: none;
    
}

.facebook{
    color:$azu;
    margin: 70px;
    text-decoration: none;
}
.whatsapp{
    color:$ver;
    margin: 70px;
    text-decoration: none;
}

.correo{
    color: rgb(191, 12, 12);
    margin: 70px;
    text-decoration: none;
}

.footer-inicio a:hover{
 transform: scale(1.2);


}




