footer{

    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px;  
    margin-top: auto;
    background: linear-gradient(to left, $oscuro, black);
    font-size: 20px;
}

.footer-inicio{
    display: inline-block;
    justify-content: center;
    gap: 25px;
    width: 100%;
    background: linear-gradient(to left, $oscuro, black);
    background-color: bisque;
    text-align: center;
    padding: 10px; 
    left: 0px; 
    position: absolute; 
    bottom: 0;    
}

.footer-inicio a{
    font-size: 20px;
    transition: all ease 300ms;

}

.instagram{
    color: rgb(252, 36, 72);
    margin: 70px;
    text-decoration: none;
    
}

.facebook{
    color:$azu;
    margin: 70px;
    text-decoration: none;
}
.whatsapp{
    font-size: 15px;
    color:$ver;
    margin: 70px;
    text-decoration: none;
}

.correo{
    color: rgb(12, 255, 141);
    margin: 70px;
    text-decoration: none;
}

.footer-inicio a:hover{
 transform: scale(1.2);


}

.phono{
    font-size: 20px;
    color: white;
    font-style: italic;
    margin: 5px;
}




