footer{

    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px;  
    margin-top: auto;
    background: linear-gradient(to left, $oscuro, black);
    h4{
        color: white;
    }
}

.footer-inicio{
    width: 100%;
    background: linear-gradient(to left, $oscuro, black);
    background-color: bisque;
    text-align: center;
    padding: 20px; 
    left: 0px; 
    position: absolute; 
    bottom: 0; 
    h4{
        color: white;
    }
    
}