header{
    display: flex; 
    min-height: 120px;
    background: linear-gradient(to left, $oscuro, black);
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;

    .logo{
        display: flex; 
        align-items: center; 
    
        
        img{
            height: 100px; 
            width: 100px;
            margin-right: 6px;  
            padding: 5px; 
            border-radius: 100px; 
            border: 3px white solid;
        }

        .nombre-empresa{
            color: rgb(255, 255, 255);
            padding-left: 200px; 
            font-style: italic; 
            font-size: 40px; 
        }
    }

    
    nav a{
            display: inline-block;
            font-weight: 600; 
            padding: 10px;
            margin: 10px; 
        
    }
    nav a:hover{
        color: $dor;
}
    a{
        font-size: 20px;
        text-decoration: none;
        color:rgb(254, 250, 255);
}

}
