
/*page1-page2*/
.button{
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-template-columns: repeat(3, 400px);
    row-gap: 70px; 
    column-gap: 10px; 
    margin-top: 30px;
    padding-bottom: 20px;
 
}

.button_im{
    width: 80%; 
    height: 80%;
    padding: 5px;

}

.button_v{
    @extend .button_im;
    border: 3px $violet solid;
}

.button_m{
    @extend .button_im;
    border: 3px $oscuro solid;
}

/*ayuda-page4*/

.button_ayuda{
    width: 150px;
    height: 150px;
    margin-left: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px black solid;
}


